USE [FIFO]
GO
/****** Object:  User [alumno]    Script Date: 28/10/2025 15:18:01 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 28/10/2025 15:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[FechaRegistro] [date] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dueños]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueños](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contraseña] [varchar](50) NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[FechaRegistro] [date] NULL,
	[IdLocal] [int] NULL,
 CONSTRAINT [PK_Dueños] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locales]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Domicilio] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[CodigoPostal] [int] NULL,
 CONSTRAINT [PK_Locales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalesProductosInicial]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalesProductosInicial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocal] [int] NULL,
	[IdProducto] [int] NULL,
	[PrecioInicial] [int] NULL,
 CONSTRAINT [PK_LocalesProductosInicial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalesProductosVto]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalesProductosVto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocal] [int] NULL,
	[IdProducto] [int] NULL,
	[FechaVencimiento] [date] NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_LocalesProductosVto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Foto] [varchar](50) NULL,
	[IdCategoria] [int] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 28/10/2025 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NULL,
	[IdLocalesProductosVto] [int] NULL,
	[FechaCompra] [date] NULL,
	[Provincia] [varchar](50) NULL,
	[FechaRegistro] [date] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dueños]  WITH CHECK ADD  CONSTRAINT [FK_Dueños_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[Dueños] CHECK CONSTRAINT [FK_Dueños_Locales]
GO
ALTER TABLE [dbo].[LocalesProductosInicial]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosInicial_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosInicial] CHECK CONSTRAINT [FK_LocalesProductosInicial_Locales]
GO
ALTER TABLE [dbo].[LocalesProductosInicial]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosInicial_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosInicial] CHECK CONSTRAINT [FK_LocalesProductosInicial_Productos]
GO
ALTER TABLE [dbo].[LocalesProductosVto]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosVto_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosVto] CHECK CONSTRAINT [FK_LocalesProductosVto_Locales]
GO
ALTER TABLE [dbo].[LocalesProductosVto]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosVto_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosVto] CHECK CONSTRAINT [FK_LocalesProductosVto_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_LocalesProductosVto] FOREIGN KEY([IdLocalesProductosVto])
REFERENCES [dbo].[LocalesProductosVto] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_LocalesProductosVto]
GO
