USE [FIFO]
GO
/****** Object:  User [alumno]    Script Date: 28/11/2025 14:54:13 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dueños]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueños](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocal] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Dueños] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locales]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Domicilio] [varchar](50) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Locales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalesProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalesProductosInicial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocal] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[PrecioInicial] [int] NOT NULL,
 CONSTRAINT [PK_LocalesProductosInicial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalesProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalesProductosVto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLocal] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_LocalesProductosVto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NULL,
	[IdCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NOT NULL,
	[IdLocalesProductosVto] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Alimentos')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Bebidas')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (3, N'Limpieza')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [IdProvincia], [IdUsuario]) VALUES (1, 1, 2)
INSERT [dbo].[Clientes] ([Id], [IdProvincia], [IdUsuario]) VALUES (2, 5, 4)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Dueños] ON 

INSERT [dbo].[Dueños] ([Id], [IdLocal], [IdUsuario]) VALUES (1, 1, 1)
INSERT [dbo].[Dueños] ([Id], [IdLocal], [IdUsuario]) VALUES (2, 2, 3)
SET IDENTITY_INSERT [dbo].[Dueños] OFF
GO
SET IDENTITY_INSERT [dbo].[Locales] ON 

INSERT [dbo].[Locales] ([Id], [Nombre], [Domicilio], [Provincia], [CodigoPostal], [Foto]) VALUES (1, N'Supermercado Los Andes', N'Av. Rivadavia 4500', N'CABA', 1406, NULL)
INSERT [dbo].[Locales] ([Id], [Nombre], [Domicilio], [Provincia], [CodigoPostal], [Foto]) VALUES (2, N'Tienda Norte', N'San Martín 220', N'Córdoba', 5000, NULL)
INSERT [dbo].[Locales] ([Id], [Nombre], [Domicilio], [Provincia], [CodigoPostal], [Foto]) VALUES (3, N'Mercado Sur', N'Belgrano 500', N'Mendoza', 5500, NULL)
SET IDENTITY_INSERT [dbo].[Locales] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalesProductosInicial] ON 

INSERT [dbo].[LocalesProductosInicial] ([Id], [IdLocal], [IdProducto], [PrecioInicial]) VALUES (1, 1, 3, 500)
INSERT [dbo].[LocalesProductosInicial] ([Id], [IdLocal], [IdProducto], [PrecioInicial]) VALUES (2, 2, 5, 850)
INSERT [dbo].[LocalesProductosInicial] ([Id], [IdLocal], [IdProducto], [PrecioInicial]) VALUES (3, 1, 1, 1000)
SET IDENTITY_INSERT [dbo].[LocalesProductosInicial] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalesProductosVto] ON 

INSERT [dbo].[LocalesProductosVto] ([Id], [IdLocal], [IdProducto], [FechaVencimiento], [Cantidad]) VALUES (1, 1, 1, CAST(N'2025-03-15T00:00:00.000' AS DateTime), 50)
INSERT [dbo].[LocalesProductosVto] ([Id], [IdLocal], [IdProducto], [FechaVencimiento], [Cantidad]) VALUES (2, 1, 2, CAST(N'2025-04-20T00:00:00.000' AS DateTime), 30)
INSERT [dbo].[LocalesProductosVto] ([Id], [IdLocal], [IdProducto], [FechaVencimiento], [Cantidad]) VALUES (3, 1, 3, CAST(N'2026-01-10T00:00:00.000' AS DateTime), 40)
SET IDENTITY_INSERT [dbo].[LocalesProductosVto] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Foto], [IdCategoria]) VALUES (1, N'Yerba Mate', NULL, 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Foto], [IdCategoria]) VALUES (2, N'Coca Cola 1.5L', NULL, 2)
INSERT [dbo].[Productos] ([Id], [Nombre], [Foto], [IdCategoria]) VALUES (3, N'Detergente Magistral', NULL, 3)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([Id], [Nombre]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincias] ([Id], [Nombre]) VALUES (2, N'Catamarca')
INSERT [dbo].[Provincias] ([Id], [Nombre]) VALUES (3, N'Chaco')
SET IDENTITY_INSERT [dbo].[Provincias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Contraseña], [NombreUsuario], [Email], [FechaRegistro], [Rol]) VALUES (1, N'1234', N'juanperez', N'juanperez@gmail.com', CAST(N'2024-05-01T00:00:00.000' AS DateTime), N'Dueño')
INSERT [dbo].[Usuarios] ([Id], [Contraseña], [NombreUsuario], [Email], [FechaRegistro], [Rol]) VALUES (2, N'5678', N'mariarodriguez', N'maria@gmail.com', CAST(N'2024-06-12T00:00:00.000' AS DateTime), N'Cliente')
INSERT [dbo].[Usuarios] ([Id], [Contraseña], [NombreUsuario], [Email], [FechaRegistro], [Rol]) VALUES (3, N'abcd', N'sofiagomez', N'sofia@gmail.com', CAST(N'2024-07-22T00:00:00.000' AS DateTime), N'Dueño')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [IdClientes], [IdLocalesProductosVto], [FechaCompra], [IdProvincia], [FechaRegistro]) VALUES (1, 1, 1, CAST(N'2025-02-12' AS Date), 1, CAST(N'2025-02-12' AS Date))
INSERT [dbo].[Ventas] ([Id], [IdClientes], [IdLocalesProductosVto], [FechaCompra], [IdProvincia], [FechaRegistro]) VALUES (2, 2, 4, CAST(N'2025-09-05' AS Date), 5, CAST(N'2025-09-05' AS Date))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Provincias]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[Dueños]  WITH CHECK ADD  CONSTRAINT [FK_Dueños_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[Dueños] CHECK CONSTRAINT [FK_Dueños_Locales]
GO
ALTER TABLE [dbo].[Dueños]  WITH CHECK ADD  CONSTRAINT [FK_Dueños_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Dueños] CHECK CONSTRAINT [FK_Dueños_Usuarios]
GO
ALTER TABLE [dbo].[LocalesProductosInicial]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosInicial_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosInicial] CHECK CONSTRAINT [FK_LocalesProductosInicial_Locales]
GO
ALTER TABLE [dbo].[LocalesProductosInicial]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosInicial_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosInicial] CHECK CONSTRAINT [FK_LocalesProductosInicial_Productos]
GO
ALTER TABLE [dbo].[LocalesProductosVto]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosVto_Locales] FOREIGN KEY([IdLocal])
REFERENCES [dbo].[Locales] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosVto] CHECK CONSTRAINT [FK_LocalesProductosVto_Locales]
GO
ALTER TABLE [dbo].[LocalesProductosVto]  WITH CHECK ADD  CONSTRAINT [FK_LocalesProductosVto_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[LocalesProductosVto] CHECK CONSTRAINT [FK_LocalesProductosVto_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_LocalesProductosVto] FOREIGN KEY([IdLocalesProductosVto])
REFERENCES [dbo].[LocalesProductosVto] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_LocalesProductosVto]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Provincias]
GO
/****** Object:  StoredProcedure [dbo].[BuscarLocal]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarLocal]
    @IdLocal INT
AS
BEGIN
    SELECT Nombre FROM Locales WHERE Locales.Id = @IdLocal;
END
GO
/****** Object:  StoredProcedure [dbo].[CargarLocalesProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarLocalesProductosInicial]
    @IdProducto INT,
    @IdLocal INT,
    @Precio INT
AS
BEGIN
    INSERT INTO LocalesProductosInicial(IdProducto, IdLocal, PrecioInicial )
    VALUES (@IdProducto, @IdLocal, @Precio );
END
GO
/****** Object:  StoredProcedure [dbo].[CargarLocalesProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarLocalesProductosVto]
    @IdProducto INT,
    @IdLocal INT,
    @Cantidad INT,
    @Precio INT,
    @FechaVencimiento DATETIME
AS
BEGIN
    INSERT INTO LocalesProductosVto (IdProducto, IdLocal, Cantidad, FechaVencimiento)
    VALUES (@IdProducto, @IdLocal, @Cantidad, @FechaVencimiento);
END
GO
/****** Object:  StoredProcedure [dbo].[CargarProductos]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarProductos]
    @Nombre VARCHAR(50),
    @Foto VARCHAR(50),
    @IdCategoria INT
AS
BEGIN
    INSERT INTO Productos (Nombre, Foto, IdCategoria)
    VALUES (@Nombre, @Foto, @IdCategoria);
  SELECT SCOPE_IDENTITY() AS IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCliente]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCliente]
    @IdUsuario INT,
    @IdProvincia INT
AS
BEGIN
    INSERT INTO Clientes (IdUsuario, IdProvincia)
    VALUES (@IdUsuario, @IdProvincia);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearDueño]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearDueño]
    @IdLocal INT,
    @IdUsuario INT
AS
BEGIN
    INSERT INTO Dueños (IdLocal, IdUsuario)
    VALUES (@IdLocal, @IdUsuario);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearLocalesProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearLocalesProductosVto]
	@Cantidad INT, @FechaVencimiento DATETIME, @IdProducto INT, @IdLocal INT
AS
BEGIN
	INSERT INTO LocalesProductosVto (IdProducto, Cantidad, FechaVencimiento, IdLocal)  VALUES (@IdProducto, @Cantidad, @FechaVencimiento, @IdLocal)
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProductos]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProductos]
    @IdProducto INT
AS
BEGIN
    DELETE FROM Productos WHERE Productos.Id = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProductosInicial]
    @IdProducto INT
AS
BEGIN
    DELETE FROM ProductosInicial WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProductosVto]
    @IdProducto INT
AS
BEGIN
    DELETE FROM LocalesProductosVto WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
    @NombreUsuario VARCHAR(50),
    @Contraseña VARCHAR(50)
AS
BEGIN
    SELECT * FROM Usuarios
    WHERE NombreUsuario = @NombreUsuario AND Contraseña = @Contraseña;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarLocalesProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarLocalesProductosInicial]
    @PrecioInicial INT,
    @Id INT
AS
BEGIN
    UPDATE LocalesProductosInicial
    SET PrecioInicial = @PrecioInicial
    WHERE LocalesProductosInicial.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarLocalesProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarLocalesProductosVto]
    @Cantidad INT,
    @FechaVencimiento DATE
AS
BEGIN
    UPDATE LocalesProductosVto
    SET 
        Cantidad = @Cantidad,
        FechaVencimiento = @FechaVencimiento
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarProductos]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarProductos]
    @IdProducto INT,
    @Nombre VARCHAR(50),
    @Foto VARCHAR(50),
    @IdCategoria INT
AS
BEGIN
    UPDATE Productos
    SET Nombre = @Nombre,
        Foto = @Foto,
        IdCategoria = @IdCategoria
    WHERE Id = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[MostrarLocales]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarLocales]
AS
BEGIN
    SELECT * FROM Locales;
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @Contraseña VARCHAR(50),
    @NombreUsuario VARCHAR(50),
    @Email VARCHAR(50),
    @FechaRegistro DATETIME,
    @Rol VARCHAR(50)
AS
BEGIN
    INSERT INTO Usuarios (Contraseña, NombreUsuario, Email, FechaRegistro, Rol)
    OUTPUT INSERTED.Id
    VALUES (@Contraseña, @NombreUsuario, @Email, @FechaRegistro, @Rol);
END
GO
/****** Object:  StoredProcedure [dbo].[SePuedeRegistrar]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SePuedeRegistrar]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    SELECT * FROM Usuarios
    WHERE NombreUsuario = @NombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerCategoria]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerCategoria]
    @IdCategoria INT
AS
BEGIN
    SELECT Nombre FROM Categorias WHERE Categorias.Id = @IdCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerCategorias]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerCategorias]
AS
BEGIN
    SELECT * FROM Categorias;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerIdDueño]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerIdDueño]
@IdUsuario INT
AS
BEGIN
	SELECT Id FROM Dueños WHERE Id=@IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocal]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocal]
 @Id INT
AS
BEGIN
	SELECT Nombre FROM Locales WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocalesProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocalesProductosInicial]
	@IdProducto INT, @IdLocal INT
AS
BEGIN
	SELECT * FROM LocalesProductosInicial WHERE IdProducto=@IdProducto AND IdLocal = @IdLocal
END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocalesProductosInicialMiLocal]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocalesProductosInicialMiLocal]
 @IdLocal INT
AS
BEGIN
SELECT *
FROM LocalesProductosInicial
WHERE LocalesProductosInicial.IdLocal = @IdLocal
	
END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocalesProductosVto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocalesProductosVto]
@Id INT
AS
BEGIN
	SELECT * FROM LocalesProductosVto WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocalesProductosVtoConFiltro]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocalesProductosVtoConFiltro]
    @Filtro VARCHAR(50)
AS
BEGIN

    IF (@Filtro = 'MayorAMenor')
    BEGIN
        SELECT 
            LocalesProductosVto.Id,
            LocalesProductosVto.IdLocal,
            LocalesProductosVto.IdProducto,
            LocalesProductosVto.FechaVencimiento,
            LocalesProductosVto.Cantidad
        FROM LocalesProductosVto
        INNER JOIN Productos 
            ON LocalesProductosVto.IdProducto = Productos.Id
        INNER JOIN LocalesProductosInicial 
            ON LocalesProductosInicial.IdProducto = Productos.Id
           AND LocalesProductosInicial.IdLocal = LocalesProductosVto.IdLocal
        ORDER BY LocalesProductosInicial.PrecioInicial DESC
    END

    ELSE IF (@Filtro = 'MenorAMayor')
    BEGIN
        SELECT 
            LocalesProductosVto.Id,
            LocalesProductosVto.IdLocal,
            LocalesProductosVto.IdProducto,
            LocalesProductosVto.FechaVencimiento,
            LocalesProductosVto.Cantidad
        FROM LocalesProductosVto
        INNER JOIN Productos 
            ON LocalesProductosVto.IdProducto = Productos.Id
        INNER JOIN LocalesProductosInicial 
            ON LocalesProductosInicial.IdProducto = Productos.Id
           AND LocalesProductosInicial.IdLocal = LocalesProductosVto.IdLocal
        ORDER BY LocalesProductosInicial.PrecioInicial ASC
    END

END
GO
/****** Object:  StoredProcedure [dbo].[TraerLocalesProductosVtoMiLocal]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerLocalesProductosVtoMiLocal]
@IdLocal INT
AS
BEGIN
	SELECT * FROM LocalesProductosVto WHERE @IdLocal=IdLocal
END
GO
/****** Object:  StoredProcedure [dbo].[TraerProducto]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerProducto]
   @IdProducto INT
AS
BEGIN
    SELECT * FROM Productos WHERE Productos.Id = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerProductosLocalesProductosInicial]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerProductosLocalesProductosInicial]
@Id INT
AS
BEGIN
SELECT * FROM LocalesProductosInicial WHERE Id = @Id
	
END
GO
/****** Object:  StoredProcedure [dbo].[TraerProvincias]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerProvincias]
AS
BEGIN
    SELECT * FROM Provincias;
END

GO
/****** Object:  StoredProcedure [dbo].[TraerUsuario]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerUsuario]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    SELECT * FROM Usuarios WHERE NombreUsuario = @NombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[VerProductoAModificar]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerProductoAModificar]
    @IdProducto INT,
    @IdLocal INT
AS
BEGIN
    SELECT  Productos.Nombre,
            Productos.Foto,
            LocalesProductosVto.Cantidad,
            LocalesProductosVto.FechaVencimiento,
            LocalesProductosInicial.PrecioInicial,
            Categorias.Nombre AS Categoria
    FROM Productos
    INNER JOIN LocalesProductosVto 
        ON Productos.Id = LocalesProductosVto.IdProducto
    INNER JOIN LocalesProductosInicial 
        ON Productos.Id = LocalesProductosInicial.IdProducto
    INNER JOIN Categorias 
        ON Productos.IdCategoria = Categorias.Id
    WHERE LocalesProductosVto.IdLocal = @IdLocal 
      AND LocalesProductosVto.IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[VerProductosCategoria]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerProductosCategoria]
AS
BEGIN
     SELECT LocalesProductosVto.Id, LocalesProductosVto.IdLocal, LocalesProductosVto.IdProducto, LocalesProductosVto.FechaVencimiento, LocalesProductosVto.Cantidad
    FROM LocalesProductosVto
    INNER JOIN Productos 
        ON LocalesProductosVto.IdProducto = Productos.Id
    INNER JOIN Categorias
        ON Productos.IdCategoria = Categorias.Id
    ORDER BY Productos.IdCategoria;

END

GO
/****** Object:  StoredProcedure [dbo].[VerProductosMiLocal]    Script Date: 28/11/2025 14:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerProductosMiLocal]
    @Id INT
AS
BEGIN

  SELECT  Productos.Nombre, 
            Productos.Foto, 
            LocalesProductosVto.Cantidad,  
            LocalesProductosVto.FechaVencimiento,  
			LocalesProductosInicial.PrecioInicial,
            Categorias.Nombre AS Categoria
    FROM Productos
    INNER JOIN LocalesProductosVto 
        ON Productos.Id = LocalesProductosVto.IdProducto
    INNER JOIN LocalesProductosInicial 
        ON Productos.Id = LocalesProductosInicial.IdProducto
    INNER JOIN Categorias 
        ON Productos.IdCategoria = Categorias.Id
    WHERE LocalesProductosVto.IdLocal = @Id;
END



GO
