@{
    ViewData["Title"] = "VerProductosMiLocal";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <header>
        <div class="top-bar">
            <a href="#"><img src="~/img/gear.png" alt="configuración" class="icon" /></a>
            <nav>
                <ul>
                    <li><a href='@Url.Action("ModificarProducto","Dueño")'>Modificar</a></li>
                    <li><a href='@Url.Action("VerProductosMiLocal","Dueño")' class="active">Stock</a></li>
                    <li><a href="#">Descuentos</a></li>
                </ul>
            </nav>
            <a href="#"><img src="~/img/cart.png" alt="carrito" class="icon-cart" /></a>
        </div>
    </header>
</body>
