@{
    ViewData["Title"] = "Descuentos";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header>
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='@Url.Action("Descuentos", "Home")'>Descuentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("Empresas", "Home")'>Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("Vencimientos", "Home")'>Vencimientos</a>
        </li>
    </div>
    </header>
<h2>Encontrá las mejores ofertas para vos:</h2>
<div>
    <img src ="" alt="">
    <h4>Producto: Mermelada</h4>
    <h4>Precio original: $2000</h4>
    <h4>Precio con descuento: $1300</h4>
    <h4>Fecha de vencimiento: 23/10/2025</h4>
</div>
<div>
    <img src ="" alt="">
    <h4>Producto: Arroz</h4>
    <h4>Precio original: $3000</h4>
    <h4>Precio con descuento: $2600</h4>
    <h4>Fecha de vencimiento: 20/11/2025</h4>
</div>
<div>
    <img src ="" alt="">
    <h4>Producto: Leche</h4>
    <h4>Precio original: $1500</h4>
    <h4>Precio con descuento: $950</h4>
    <h4>Fecha de vencimiento: 21/10/2025</h4>
</div>
<div>
    <img src ="" alt="">
    <h4>Producto: Papas Fritas</h4>
    <h4>Precio original: $3000</h4>
    <h4>Precio con descuento: $2800</h4>
    <h4>Fecha de vencimiento: 10/03/2025</h4>
</div>
<footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="~/img/Logo.png" alt="Logo FIFO">
            <p>Dale una segunda oportunidad a los alimentos. Reducí el desperdicio, ayudá al planeta 🌍</p>
        </div>

        <div class="footer-links">
            <div>
                <h4>Nosotros</h4>
                <ul>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Misión y visión</a></li>
                    <li><a href="#">Nuestro equipo</a></li>
                </ul>
            </div>
            <div>
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Soporte técnico</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div>
                <h4>Contacto</h4>
                <ul>
                    <li><a href="mailto:contacto@fifo.com">contacto@fifo.com</a></li>
                    <li><a href="#">Formulario de contacto</a></li>
                    <li><a href="#">Ubicación</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-socials">
                    <a href="https://www.instagram.com/"><img src="~/img/instagram.png" alt="logoInstagram"></a>
        <a href="https://twitter.com"><img src="~/img/twitter.png" alt="logoTweeter"></a>
        <a href="https://www.youtube.com"><img src="~/img/youtube.png" alt="logoYoutube"></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 FIFO | Desarrollado por el equipo FIFO</p>
    </div>
</footer>
</body>