@{
    ViewData["Title"] = "IniciarSesion";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

  <body>
  <header> 
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("IniciarSesion", "Home")'>Iniciar sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("Registrarse", "Home")'>Registrarse</a>
  </li>
</ul>
</header>

<img src="~/img/Logo.png" alt="Foto1">
<form action='@Url.Action("recibirInicioDeSesion", "Home")' method="POST" enctype="application/x-www-form-urlencoded">
 <div class="dropdown-menu">
  <form class="px-4 py-3">
    <div class="mb-3">
      <label for="exampleDropdownFormEmail1" class="form-label">Nombre de usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Recordarme
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesion</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">No tenes cuenta? Registrate!</a>
  <a class="dropdown-item" href="#">Te olvidaste tu contraseña?</a>
</div>
<footer>
        <a href="https://www.instagram.com/"><img src="~/img/instagram.png" alt="logoInstagram"></a>
        <a href="https://twitter.com"><img src="~/img/twitter.png" alt="logoTweeter"></a>
        <a href="https://www.youtube.com"><img src="~/img/youtube.png" alt="logoYoutube"></a>
  </footer>
  </body>
</html>
