@{
    ViewData["Title"] = "login";
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIFO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
  <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Crear cuenta</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
    <main>
        <img src="~/img/Logo.jpg">
        <form>
            <h2>Ingrese su nombre de usuario:</h2> <input type="text" name= "Username"/>
            <h2>Ingrese su contrsaeña:</h2> <input type="password" name= "Constraseña"/>
            <input type= "submit" value="Iniciar sesión"/>
        </form>
    </main>
</body>